.bg_img1{
    width: 1900px;
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 161px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1460px;
    margin: 0 auto;
    margin-bottom: 128px;
}
.text{
    max-width: 1192px;
}
.text_sec{
    width: 1460px;
    margin: 0 auto;
}
.first_h{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.first_p{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px; 
    color: #FFFFFF;
    margin-bottom: 41px;
}
.tel{
    color: #FFFFFF;
    text-decoration-line: none;
    padding-right: 20px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.color_tel{
    color: #E4B564;
}
.call_back{
    align-items: center;
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    color: #E4B564;
    border: 1px solid #E4B564;
    line-height: 80px;
}
.call{
    padding-left: 10px;
}
.section_1{
   display: grid;
   width: 1460px;
   margin: 0 auto;
   grid-gap: 27px;
   grid-template-columns: 2fr 1fr 1fr 2fr;
   grid-template-rows: repeat(2, 468px);
   grid-template-areas: 
   "item1 item2 item2 item3"
   "item4 item4 item5 item5";
 
}
.first_item{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.first_item:nth-child(1){
    background-color: #634F2C;
    grid-area: item1;
}
.first_item:nth-child(2){
    background: #B4A385;
    grid-area: item2;
    text-align: center;
}
.first_item:nth-child(3){
    background: #E4B564;
    grid-area: item3;
}
.first_item:nth-child(4){
    background: #635A4A;
    grid-area: item4;
}
.first_item:nth-child(5){
    background: #B08C4D;
    grid-area: item5;
}
.bg_img2{
    width: 1900px;
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 105px;
    padding-top: 15px;
}
.section_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
    gap: 30px;
    height: 900px;
    width: 1460px;
    margin: 0 auto;
}
.text_sec2{
    width: 1460px;
    margin: 0 auto;
}
.second_h{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 94px;
}
.product_item{
    display: flex;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.span-2{
    padding: 44px 52px;
}
.bold{
    font-weight: 700;
}
.product_item:nth-child(1){
    grid-row: 1/3;
    background-color: #0E0E0E;
}
.product_item:nth-child(2){
    grid-row: 1/4;
    background-color: #242424;
}
.product_item:nth-child(3){
    grid-row: 1/3;
    background-color: #1F1F1F;
}
.product_item:nth-child(4){
    background-color: #1F1F1F;
    grid-row: 3/7;
}
.product_item:nth-child(5){
    grid-row: 4/7;
    background-color: #E4B564;
    color: #000;
    font-weight: 500;
}
.product_item:nth-child(6){
    grid-row: 5/7;
    background-color: #0A0909;
}
.product_item:nth-child(7){
    grid-row: 3/5;
    background-color: #0E0E0E;
}
.bg_img3{
    width: 1900px;
    padding-top: 15px;
    padding-bottom: 250px;
    background-color: #0A0909;
}
.section_3{
    width: 1460px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
}
.text_thir3{
    display:flex;
    width: 1460px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 172px;
}
.third_h{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 72px;
}
.call_back3{
    align-items: center;
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 13px 40px;
    color: #E4B564;
    border: 1px solid #E4B564;
    height: 50px;
    margin-left: 680px;
}
.third_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third_img:nth-child(1){
    background: #634F2C;
}
.third_img:nth-child(2){
    background:rgba(232, 210, 171, 0.76);
    flex-direction: column;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}
.third_p_span{
    font-weight: 400;
}
.third_img:nth-child(3){
    background: #E4B564;
}
.third_img:nth-child(4){
    background: #635A4A;
}
.third_img:nth-child(5){
    background: #B08C4D;
}
.third_img:nth-child(6){
    background: #634F2C;
}



